<!-- About Section -->
   <section class="success" id="about">
     <div class="container">
       <h2 class="text-center">About Me</h2>
       <!-- <hr class="star-light"> -->
       <br>
       <div class="row">
         <div class="col-lg-4 ml-auto">
           <p>My name is Khaled Eliali. I started my career in Software at a early stage in my life. Ive always been into computers and programming. I found the challenge of coding and writing code very exciting. I am interested in all fields of technology. Software development, Programming in all forms, Coding in all languages, Security in Cyber security.</p>
         </div>
         <div class="col-lg-4 mr-auto">
           <p>Apart from all this, I enjoy motorbikes and cars in all classes. I love martial arts and have practiced many different fighting styles throughtout my life. I love my family and all their craziness. Theres alot about me that unless you meet me in person I cant explain. Hope to continue my career and exceeding my skills beyond my imagination.</p>
         </div>
         <div class="col-lg-8 mx-auto text-center">
           <a href="http://www.theuselessweb.com/" class="btn btn-lg btn-outline">
             <i class="fa fa-download"></i>
             Getting Bored?
           </a>
         </div>
       </div>
     </div>
   </section>
