<!-- Footer -->
   <footer class="text-center">
     <div class="footer-above">
       <div class="container">
         <div class="row">
           <div class="footer-col col-md-4">
             <h3>ADDRESS</h3>
             <p>62A Tennyson Road
               <br>Greenacre, NSW 2190</p>
           </div>
           <div class="footer-col col-md-4">
             <h3>WHERE TO FIND ME</h3>
             <ul class="list-inline">
               <li class="list-inline-item">
                 <a class="btn-social btn-outline" href="https://www.facebook.com/profile.php?id=100011616366049">
                   <i class="fa fa-fw fa-facebook"><img class="img-fluid" src="http://garickvanstaden.co.za/blog/wp-content/uploads/2015/09/facebook-f-logo-transparent-300x300.png" alt="facebook logo"></i>
                 </a>
               </li>
               <li class="list-inline-item">
                 <a class="btn-social btn-outline" href="https://plus.google.com/u/0/100655637234683241002">
                   <i class="fa fa-fw fa-google-plus"><img class="img-fluid" src="https://www.seeklogo.net/wp-content/uploads/2015/09/google-favicon-vector.png" alt="Google logo"></i>
                 </a>
               </li>
               <li class="list-inline-item">
                 <a class="btn-social btn-outline" href="https://twitter.com/Eliali94">
                   <i class="fa fa-fw fa-twitter"><img class="img-fluid" src="http://www.alc.edu/wp-content/uploads/2016/10/13-twitter-logo-vector-png-free-cliparts-that-you-can-download-to-you-Km878c-clipart.png" alt="Twitter logo"></i>
                 </a>
               </li>
               <li class="list-inline-item">
                 <a class="btn-social btn-outline" href="https://www.linkedin.com/in/khaled-eliali-194723137/">
                   <i class="fa fa-fw fa-linkedin"><img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png" alt="LinkedIn logo"></i>
                 </a>
               </li>
               <li class="list-inline-item">
                 <a class="btn-social btn-outline" href="https://dribbble.com/Khaled_Eliali94">
                   <i class="fa fa-fw fa-dribbble"><img class="img-fluid" src="https://cdn.dribbble.com/assets/dribbble-ball-dnld-35eba27acd4710f90ea9aa7ad8037fbb19ad997078531844fd34456b4c6551e4.png" alt="Dribble logo"></i>
                 </a>
               </li>
             </ul>
           </div>
           <div class="footer-col col-md-4">
             <h3>CONTACT ME</h3>
             <ul>
               <p>Email:</p>
               <li>khaled_eliali@hotmail.com</li>
               <br>
               <p>Mobile:</p>
               <li>0452 512 338</li>

             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="footer-below">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
             Copyright &copy; K&S 2017
           </div>
         </div>
       </div>
     </div>
   </footer>
