<!-- Portfolio Grid Section -->
   <section id="portfolio" style="background-color:#acb6b8">
     <div class="container">
       <h2 class="text-center">Portfolio</h2>
       <hr class="star-primary">
       <div class="row">
         <div class="col-sm-4 portfolio-item">
           <a class="portfolio-link" style="background-color:#acb6b8"href="https://codepen.io/Eliali94/" data-toggle="modal"style="background-color:#acb6b8">LINK TO MY CODEPEN
             <div class="caption">
               <div class="caption-content">ARE YOU SURE?
                 <i class="fa fa-search-plus fa-3x"></i>
               </div>
             </div>
             <img class="img-fluid" src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png" alt="link to Codepen">
           </a>
         </div>
         <div class="col-sm-4 portfolio-item">
           <a class="portfolio-link" href="https://github.com/Eliali94" data-toggle="modal">LINK TO MY GITHUB
             <div class="caption">
               <div class="caption-content">CLICK IF YOU DARE..
                 <i class="fa fa-search-plus fa-3x"></i>
               </div>
             </div>
             <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="Link to Github">
             <!-- https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png -->
           </a>
         </div>
        
         <div class="col-sm-4 portfolio-item">
           <a class="portfolio-link" href="https://www.linkedin.com/in/khaled-eliali-194723137/" data-toggle="modal">LINK TO MY LINKEDIN
             <div class="caption">
               <div class="caption-content">WANT ME?
                 <i class="fa fa-search-plus fa-3x"></i>
               </div>
             </div>
             <img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png" alt="Link to LinkedIn">
           </a>
         </div>
         <div class="col-sm-4 portfolio-item">
           <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
             <div class="caption">
               <div class="caption-content">
                 <i class="fa fa-search-plus fa-3x"></i>
               </div>
             </div>
             <img class="img-fluid" src="img/portfolio/game.png" alt="">
           </a>
         </div>
         <div class="col-sm-4 portfolio-item">
           <a class="portfolio-link" href="https://www.codewars.com/users/Eliali94" data-toggle="modal">LINK TO MY CODEWARS
             <div class="caption">
               <div class="caption-content">CHALLENGE?
                 <i class="fa fa-search-plus fa-3x"></i>
               </div>
             </div>
             <img class="img-fluid" src="http://www.softlab.ntua.gr/~nickie/images/logo/codewars.png" alt="Link to Codewars">
           </a>
         </div>
         <div class="col-sm-4 portfolio-item">
           <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal">
             <div class="caption">
               <div class="caption-content">
                 <i class="fa fa-search-plus fa-3x"></i>
               </div>
             </div>
             <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
           </a>
         </div>
       </div>
     </div>
   </section>
